header.extrato > h1{
    max-width: 100%;
    text-align: center;
    margin: 20px auto;
}
#tabela-extrato{
    max-width: 500px;
    margin: 10px auto;
}
div#seletor-cliente{
    max-width: 500px;
    margin: 10px auto;
    padding: 15px;
}
div#seletor-tabela{
    max-width: 500px;
    margin: auto 0px !important;
    padding: 15px;
}

div.alerta{
    max-width: 500px;
    margin: 10px auto;
    padding: 15px;
    
}

span.nomeUsuarioCorrente{
    color: white;
}

@media screen and (max-width: 550px) {
    #tabela-extrato{
        max-width: 90%;
    }
}

div#escolhas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
button.btn-secondary{
    
    width: 200px;
    margin: auto 0px;
}